@model IEnumerable<NASR.Models.SkiResort>

@{
    ViewBag.Title = "ListSkiResorts";
}

<h2>Ski Resorts in North America</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p class="label-reviews">Resort: &nbsp;</p> @Html.ActionLink(item.Name, "Details", new { id = item.Id }) <br />
                <p class="label-reviews">City: &nbsp; </p> @Html.DisplayFor(modelItem => item.City)<br />
                <p class="label-reviews">Address: &nbsp; </p>@Html.DisplayFor(modelItem => item.Address) <br />
                @Html.ActionLink("Reviews", "ListOfReviewsBySkiResort", "Reviews", new { id = item.Id }, null)

            </td>
        </tr>
    }

</table>
<div class="btn-container">
    <p class="btn-create">@Html.ActionLink("Ski Resorts", "index")</p>
</div>

